<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <base th:href="@{/}"/>
    <link rel="stylesheet" href="static/css/minireset.css"/>
    <link rel="stylesheet" href="static/css/common.css"/>
    <link rel="stylesheet" href="static/css/cart.css"/>
    <link rel="stylesheet" href="static/css/bookManger.css"/>
    <link rel="stylesheet" href="static/css/orderManger.css"/>
</head>
<body>
<div class="header">
    <div class="w">
        <div class="header-left">
            <a href="index.html">
                <img src="static/img/huaji1.png" alt="" width="258" height="82"/></a>
            <h1>订单管理系统</h1>
        </div>
        <div class="header-right" th:include="segment/admin-navigator :: navigator"></div>
    </div>
</div>
<div class="list">
    <div class="w">
        <table>
            <thead>
            <tr>
                <th>图片</th>
                <th>商品名称</th>
                <th>单价</th>
                <th>订购数量</th>
                <th>总价</th>
            </tr>
            </thead>
            <tbody th:if="${#lists.isEmpty(orderItemList)}">
            <tr>
                <td colspan="7">订单为空！！</td>
            </tr>
            </tbody>
            <tbody th:unless="${#lists.isEmpty(orderItemList)}">
            <tr th:each="orderItem : ${orderItemList}">
                <td>
                    <img th:src="${orderItem.imgPath}" alt=""/>
                </td>
                <td th:text="${orderItem.bookName}">获取书名失败！</td>
                <td th:text="${orderItem.price}">获取价格失败！</td>
                <td th:text="${orderItem.itemCount}">获取数量失败！</td>
                <td th:text="${orderItem.itemAmount}">获取总价失败！</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="bottom">
    <div class="w">
        <div class="top" th:include="segment/footer :: icon"></div>
    </div>
</div>
</body>
</html>
